.addTaskSection {
  width: 100%;
  min-height: 100vh;
  display: none;
  flex-direction: column;
  background: $lightBlue;
  z-index: 220;
  &__title {
    font-size: 2rem;
    padding: 0 20px;
  }
  &__typeTask {
    padding: 0 20px;
    color: $headline;
    font-size: 1rem;
    font-weight: 400;
  }
  &__category {
    padding: 0 20px;
    color: $headline;
    font-size: 1rem;
    font-weight: 400;
  }
  &__buttonBack {
    border: none;
    background: none;
    display: flex;
    width: 27px;
    height: 27px;
    padding: 0;
    margin: 36px 0 30px 20px;
  }
  &__createButton {
      border-radius: 10px;
      border: none;
      background: $darkBlue;
      color: white;
      font-size: 1.5rem;
      padding: 10px 0;
      margin: 50px 20px 0 20px;
  }
  &__typeSelect {
    margin: 20px 20px;
  }
  &__categorySelect {
    margin: 20px 20px;
  }
  &__typeTaskDiv {
    display: flex;
    margin: 0 20px;
  }
  &__priorityDiv {
    width: 50%;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
  }
}

.buttonDiv {
  padding: 0 20px;
  &__priority {
    background: #d63b3b;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
  }
  &__normal {
    background: #408e54;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
  }
}

.categoryDiv {
  padding: 0 20px;
  margin-bottom: 50px;
  &__work {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #8d1c1c;
    font-weight: 100;
  }
  &__personal {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0030ba;
    color: white;
    font-weight: 200;
  }
  &__learning {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #219653;
    color: white;
  }
}

.work--color {
  background: $darkRed;
}

.personal--color {
  background: $vivitBlue;
}

.learning--color {
  background: $green;
}

.priority--color {
  background: red;
}

.normal--color {
  background: rgb(231, 221, 81);
}

input[type="radio"]{
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.checked {
  opacity: 0.5;
}

// label {
//   pointer-events: none;
// }
