.menuProfile {
  background: $lightBlue;
  width: 70%;
  height: 100vh;
  display: none;
  flex-direction: column;
  right: 0;
  z-index: 230;
  &__img {
    display: none;
    height: 150px;
    padding-right: 20px;
    align-self: flex-end;
  }
  &__divImg {
    min-height: 150px;
    background: #00000031;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
  }
}

.opacityDiv {
  background: black;
  opacity: 0.5;
  top: 0;
  width: 100%;
  display: none;
  height: 100%;
  z-index: 220;
}
