.taskSection {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 230;
  &__list {
    width: 90%;
    padding: 0;
  }
  &__div {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 0.25);
    border-radius: 4px;
    display: flex;
    margin-bottom: 15px;
    background: $darkBlue;
  }
}

.taskItem {
  width: 80%;
  align-self: center;
  list-style: none;
  padding-left: 10px;
}

.completeButton,
.deleteButton {
  border: none;
  background: none;
  width: 40px;
  height: 40px;
}

.completed {
  background: green;
  color: white;
  opacity: 0.5;
}

.checkmark,
.trash {
  pointer-events: none;
}
