.welcomeSection {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 250;
}

.firstPage {
  background: $lightBlue;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 250;
  &__img {
    padding: 0 40px;
    margin-top: 50px;
    height: 250px;
  }
  &__text {
    align-self: center;
    padding: 0 20px;
    text-align: center;
    line-height: 20px;
  }
  &__button {
    position: absolute;
    bottom: 30px;
    border: none;
    width: 100%;
    padding: 20px;
    margin-top: 200px;
    background: $darkBlue;
    color: white;
    border-radius: 5px;
  }
  &__imgBack {
    padding-right: 20px;
  }
  &__imgNext {
    padding-left: 20px;
  }
}

.secondPage {
  background: $lightBlue;
  display: none;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 250;
  &__buttonDiv {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 30px;
  }
  &__buttonBack {
    border: none;
    width: 100%;
    padding: 20px;
    color: white;
    background: $darkBlue;
    border-radius: 5px;
  }
  &__buttonNext {
    border: none;
    width: 100%;
    padding: 20px;
    color: white;
    background: $green;
    border-radius: 5px;
  }
}

.thirdPage {
  background: $lightBlue;
  display: none;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 250;
}

.fourthPage {
  background: $lightBlue;
  display: none;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 250;
  &__form {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  &__input {
    height: 42px;
    border-radius: 4px;
    border: 1px #a1a4b1 solid;
    padding: 0 10px;
    font-size: 14px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  }
  &__genderDiv {
    display: flex;
    width: 100%;
    margin-top: 20px;
    color: #a6a8af;
  }
  &__inputGender {
    align-self: center;
    margin-left: 10px;
  }
  &__buttonDiv {
    display: flex;
    width: 100%;
    margin-top: 156px;
  }
}

.margin--right {
  margin-right: 5px;
}

.margin--left {
  margin-left: 5px;
}