.workCategorySection {
  width: 100%;
  min-height: 100vh;
  display: none;
  flex-direction: column;
  background: $lightBlue;
  z-index: 220;
  &__buttonBack {
    border: none;
    background: none;
    display: flex;
    width: 27px;
    height: 27px;
    padding: 0;
    margin: 36px 0 30px 20px;
  }
  &__title {
    font-size: 2rem;
    margin: 0;
    padding: 20px 0;
  }
  &__listDiv {
    padding: 0 20px;
  }
  &__ul {
    padding: 0;
  }
  &__backgroundTitle {
    display: flex;
    justify-content: center;
    background: $darkRed;
    margin: 0 20px;
    border-radius: 10px;
  }
}
