.workCategorySection {
  width: 100%;
  min-height: 100vh;
  display: none;
  flex-direction: column;
  background: $lightBlue;
  z-index: 220;
  &__buttonBack {
    border: none;
    background: none;
    display: flex;
    width: 27px;
    height: 27px;
    padding: 0;
    margin: 40px 0 0 20px;
  }
  &__title {
      font-size: 2rem;
      align-self: center;
  }
}
