@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
@import "modules/header.scss";
@import "modules/todo.scss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  background: #ffffff;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Open Sans";
}
